<li>
  <%= link_to user.email, user_url(user) %> |
  <% if user.admin %>
    <%= link_to 'deadmin', deadmin_user_url(user), method: :get %>
  <% else %>
    <%= link_to 'admin', admin_user_url(user), method: :get %>
  <% end %>
</li>
