<% if flash[:errors] %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(flash[:errors].count, "error") %>.
    </div>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
<% end %>
